.game-board {
    display: grid;
    cursor: default;
    grid-template-rows: 1fr auto;
}

.game-board-image {
    background-position: center center;
    background-clip: content-box;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: none;
    width: 800px;
    justify-self: center;
}

.show-results-button {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 16%;
  }