.game-board {
    display: grid;
    cursor: default;
    grid-template-rows: 1fr auto;
}

.game-board-image {
    background-position: center center;
    background-clip: content-box;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: none;
    width: 800px;
    justify-self: center;
}

.show-results-button {
    border: none;
    padding: 1rem 2rem;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 16%;
    background-color: rgb(58, 166, 255);
    border-bottom: 4px solid rgb(49, 122, 172);
    font-size: .9rem;
    color: #fff;
    font-weight: bold;
}

.show-results-button:hover {
    background-color: rgb(129, 197, 252);
}

.show-results-button:active {
    background-color: rgb(78, 160, 214);
}