.image-selector {
    display: grid;
    padding: 2rem;
    grid-template-rows: 1fr auto;
    grid-template-columns: auto 1fr auto;
}

.current-image {
    background-clip: content-box;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.image-selector button {
    align-self: center;
    justify-self: center;
}