.image-selector {
    display: grid;
    padding: 2rem;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto 1fr auto;
}

.current-image {
    background-clip: content-box;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    grid-row: 2;
    grid-column: 2;
}

.image-selector button {
    align-self: center;
    justify-self: center;
}

.next-image-button, .previous-image-button {
    grid-row: 2;
}

.previous-image-button {
    grid-column: 1;
}

.next-image-button {
    grid-column: 3;
}

.confirm-button {
    grid-row: 3;
    grid-column: 1 / -1;
    justify-self: center;
}

.current-image-name {
    grid-column: 1 / -1;
    justify-self: center;
}