.modal {
    position: absolute;
    display: grid;
    z-index: 1;
    background-color: rgba(0,0,0,0.4);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    justify-items: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    min-width: 20%;
    padding: 1rem;
}