.objectives {
    grid-column: 1 / -1;
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: auto 1fr; 
    margin-bottom: 1rem;
}

.objectives h1 {
    grid-row: 1;
}

.objectives p {
    margin: 0;
    grid-row: 2;
}

.objectives-list {
    display: flex;
    justify-content: center;
    gap: 2rem;
}