.objective-result {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    gap: 1rem;
}

.objective-result p {
    display: grid;
    margin: 0;
    align-content: center;
    justify-self: center;
}

.objective-result-true {
    color: rgb(85, 218, 85);
}

.objective-result-false {
    color: rgb(245, 83, 83);
}

.objective-result-name {
    justify-self: end;
}

.objective-result-check {
    justify-self: start;
}